# Общие файлы для игнорирования в любом проекте
.DS_Store
Thumbs.db

# Файлы сборки и запуска
bin/
**/obj/
.vs/
out/
publish/

# Логи и кэши
*.log
*.swp
*.swo

# Настройки IDE (VS Code)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Файлы пользовательских настроек
*.user
*.suo
*.userprefs

# Временные файлы
*.tmp
*.temp

# NuGet и зависимости
.nuget/
packages/
*.nupkg
NuGet.Config

# Файлы проекта (если нужно исключить что-то специфичное)
*.csproj.user
*.pubxml

# Файлы Rider (если используется)
.idea/

# Файлы Azure
*.azure*

# Файлы тестов
TestResults/
*.coverage
*.dotCover

# Файлы Docker
**/.dockerignore
**/.env
**/.docker-compose.override.yml